HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Cloudinary
USE_CLOUDINARY=boolean
CLOUDINARY_NAME=tu_nombre_de_cloud
CLOUDINARY_KEY=tu_api_key
CLOUDINARY_SECRET=tu_api_secret
